
USE Temp_Developer
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/************************************************************************************* 
	NOMBRE          :   Inserta Property 
	FUNCION         : 	Inserta informacion en la tabla Property
	APLICACION      :   ApiMillion
	REALIZADO       :   Victor Leaño 	
	VERSION         :   1.0.0  
**************************************************************************************
Caso de uso : Exec [dbo].[INS_Property] 'Hose Miami','AV 14 # 15-20',352000,'PRO0013',2025,1
**************************************************************************************/
Create PROCEDURE [dbo].[INS_Property]
@Name NVARCHAR(100) ,
@Address NVARCHAR(200),
@Price DECIMAL(18,2) ,
@CodeInternal NVARCHAR(50) ,
@Year INT,
@IdOwner INT 
AS BEGIN
	SET NOCOUNT ON;

	INSERT INTO dbo.Property
			   (	Name,
					Address,
					Price,
					CodeInternal ,
					Year ,
					IdOwner )
		 VALUES
			   (@Name ,
				@Address ,
				@Price ,
				@CodeInternal ,
				@Year ,
				@IdOwner ) 
		

END


